@using TechJobsPersistent.ViewModels;
@model AddEmployerViewModel;

@if (Model == null)
{
    <h1>There is no employer to show.</h1>
}

else
{
    <h1>Employer: @Model.Name</h1>

    <div>
        <p>Name: @Model.Name</p>
        <p>Location: @Model.Location</p>
    </div>
}

